.slogan {
    float: right;
    margin-right: 2em;
    margin-top: 1em;
    padding: 0.2em 0.5em;
    border: #CCC solid 1px;
    position: relative;
    display: block;
    font-size: 90%;
    /* height: 1.2em;
    overflow: hidden;
    width: 10em; */
}

/*.scrollingtext {
		position: absolute;
    white-space:nowrap;
}*/
