.slogan {
    float: right;
    margin-right: 2em;
    margin-top: 1em;
    padding: 0.2em 0.5em;
    border: #CCC solid 1px;
    position: relative;
    display: block;
    font-size: 90%;
    animation: bubble 2s linear;
}

@keyframes bubble {
    from  
    {
      font-size: 100%;
    }
    50%  
    {
      font-size: 120%;
    }
    to
    {
      font-size: 100%;
    }
}
